[Unit]
Description=IDS Correlation Engine
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root

EnvironmentFile=/etc/ids-agent/agent.env
Environment="PYTHONPATH=/opt/ids-agent/scripts"
Environment=PYTHONUNBUFFERED=1

WorkingDirectory=/opt/ids-agent/scripts
ExecStart=/opt/ids-agent/venv/bin/python -u /opt/ids-agent/scripts/correlate.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
