# =========================
# IDS AGENT CONFIG (EDIT ONLY THESE 2)
# =========================
AGENT_ID=vm-correlator-01
AGENT_NAME=agent2

# =========================
# FIXED BACKEND ENDPOINTS (DO NOT CHANGE)
# =========================
DASHBOARD_API_BASE_URL=http://18.142.200.244:5000
API_KEY=ids_vm_secret_key_123

WAZUH_ALERTS_URL=http://47.130.204.203:8001/alerts.json
WAZUH_POLL_INTERVAL=5

# =========================
# SNORT LOG PATH (DEFAULT)
# =========================
SNORT_FAST_LOG=/var/log/snort/snort.alert.fast

# Optional
CORRELATION_JSON=/opt/ids/output/correlation.json
